@import "tablet.css";

body{
	margin: 20px 20px 80px 20px;
	background-color: yellow;
}

.home-content{
	flex-direction: column;
}

.home-left{
	width: 100%;
	padding-top: 8%;
}
.home-right{
	width: 100%;
}

h1{
	font-size: 40px;
	line-height: 50px;
}

h2{
	margin-top: 30px;
	font-size: 24px;
}

h3{
	font-size: 16px;
	line-height: 24px;
}

p{
	font-size: 14px;
	line-height: 26px;
}

.logo{
	width: 50px;
}

nav{
	width: 80%;
}

a{
	font-size: 12px;
}

button{
	width: 100px;
    height: 30px;
    font-size: 10px;
}