body{
	font-family: 'Lato', sans-serif;
	background-image: url("../images/home.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	margin: 40px 80px;
	color: #EFFFFA;
}

/*header*/

header{
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.logo{
	width: 70px;
	height: auto;
	filter: drop-shadow(0px 0px 7px rgba(255, 255, 255, 0.67));
}

nav{
	width: 40%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

a{
	font-family: 'Chakra Petch', sans-serif;
	padding-bottom: 5px;
	color: #EFFFFA;
	font-size: 20px;
	text-decoration: none;
	text-shadow: 0px 0px 5px rgba(255, 255, 255, 0.72);
}

a:hover{
	border-bottom: 2px solid #EFFFFA;
	transition: 0.5s;
}

button{
	width: 176px;
	height: 46px;
	border: 1px solid #EFFFFA;
	background-color: transparent;
	cursor: pointer;
	color: white;
	font-size: 16px;
	font-family: 'Chakra Petch', sans-serif;
	filter: drop-shadow(0px 0px 5px #FFFFFF);
	border-radius: 10px;
}

button:hover{
	background-color: #EFFFFA;
	transition: 0.5s;
	color: #1B2C4A;
}


/*body content*/
.left{
	width: 44%;
	margin-top: 10%;
}

h1{
	font-family: 'Chakra Petch', sans-serif;
	font-size: 80px;
	font-weight: bold;
	text-shadow: 0px 0px 5px rgba(255, 255, 255, 0.72);
	line-height: 90px;
}

p{
	font-weight: regular;
	font-size: 26px;
	line-height: 40px;
}


@media (min-width: 500px) and (max-width: 1400px){
	h1{
		font-size: 60px;
		line-height: 70px;
	}

	p{
		font-size: 20px;
		line-height: 30px;
	}

	nav{
		width: 50%;
	}

	a{
		font-size: 18px;
	}
}
