body{
	font-family: 'Lato', sans-serif;
	margin: 40px 80px 150px 80px;
	color: #EFFFFA;
}

/*header*/

header{
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.logo{
	width: 70px;
	height: auto;
	filter: drop-shadow(0px 0px 7px rgba(255, 255, 255, 0.67));
}

nav{
	width: 40%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

a{
	font-family: 'Chakra Petch', sans-serif;
	padding-bottom: 5px;
	color: #EFFFFA;
	font-size: 20px;
	text-decoration: none;
	text-shadow: 0px 0px 5px rgba(255, 255, 255, 0.72);
}

nav a:hover{
	border-bottom: 2px solid #EFFFFA;
}

button{
	width: 176px;
	height: 46px;
	border: 1px solid #EFFFFA;
	background-color: transparent;
	cursor: pointer;
	color: #EFFFFA;;
	font-size: 16px;
	font-family: 'Chakra Petch', sans-serif;
	filter: drop-shadow(0px 0px 5px #FFFFFF);
	border-radius: 10px;
}

button:hover{
	background-color: #EFFFFA;
	transition: 0.5s;
	color: #1B2C4A;
}


/*body content*/
.left{
	width: 44%;
	margin-top: 10%;
}

h1{
	font-family: 'Chakra Petch', sans-serif;
	font-size: 80px;
	font-weight: bold;
	text-shadow: 0px 0px 5px rgba(255, 255, 255, 0.72);
	line-height: 90px;
}

h2{
	margin-top: 100px;
	font-family: 'Chakra Petch', sans-serif;
	font-size: 30px;
	font-weight: bold;
	text-shadow: 0px 0px 5px rgba(255, 255, 255, 0.72);
}



h3{
	font-weight: regular;
	font-size: 24px;
	line-height: 40px;
}

h4{
	color: #1B2C4A;
	font-weight: regular;
	font-size: 24px;
	padding: 0px;
}

p{
	font-weight: regular;
	font-size: 20px;
	line-height: 34px;
}

label{
	margin-right: 20px;
	font-family: 'Chakra Petch', sans-serif;
	font-size: 24px;
	font-weight: bold;
	text-shadow: 0px 0px 5px rgba(255, 255, 255, 0.72);
}

select{
	background-color: transparent;
	width: 180px;
	height: 40px;
	border: 1px solid #EFFFFA;
	padding: 5px;
	font-family: 'Lato', sans-serif;;
	color: white;
	filter: drop-shadow(0px 0px 5px #FFFFFF);
	border-radius: 5px;
	cursor: pointer;
	font-size: 16px;
}

select > option:nth-child(n) {
	background: lightseagreen
}

#list-container{
	margin-top: 30px;
	width: 100%;
	height: 1000px;
	background-color: #EFFFFA;
	border-radius: 30px;
	overflow-y: auto;
	overflow-x: hidden;
	padding-bottom: 50px;
}

#list-container::-webkit-scrollbar {
	display: none;
}

.company{
	margin: auto;
	margin-top: 40px;
	width: 95%;
	border: 3px solid #1B2C4A;
	border-radius: 30px;
}

h5{
	color: #1B2C4A;
	font-size: 20px;
	line-height: 34px;
	margin-left: 20px;
	font-weight: bold;
}

.basic, .right, .flowers, .comments{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.left{
	margin: 0px 0px 0px 25px;
}

.right{
	margin: 0px 25px 0px 0px;
}

.flowers, .comments{
	margin: 0px 100px 0px 0px;
}

.flowerLogo{
	height: 70px;
	width: 50px;
}

.letterLogo{
	width: 65px;
	height: 65px;
}

.arrow{
	width: 30px;
	height: 30px;
	transform: rotate(0deg);
}

.arrowUp{
	width: 30px;
	height: 30px;
	transform: rotate(180deg);
}

.details{
	/* margin: 0; */
	display: block;
	opacity: 0;
	height: 0;
	transition: height .4s ease-out;
}

.detailsShow{
	margin: 0px 25px 25px 25px;
	display: block;
	opacity: 1;
	height: 270px;
	overflow: auto;
	transition: height .4s ease-out;
}

.detailsShow::-webkit-scrollbar {
	display: none;
}

.details h5, .detailsShow h5{
	font-family: 'Chakra Petch', sans-serif;
	margin: 0px;
}

.details p, .detailsShow p{
	color: #1B2C4A;
	font-size: 16px;
	margin: 0px;
	overflow-wrap: break-word;
}
.details .info{
	margin: 0;
	transition: all .5s ease-out;
}

.detailsShow .info{
	transition: all .5s ease-out;
}

.details p{
	opacity: 0;
}

.detailsShow p{
	opacity: 1;
	transition: all .4s ease-out;
}

.category{
	width: 15%;
}

.content{
	width: 85%;
}

.info{
	display: flex;
	justify-content: start;
	align-items: center;
	margin: 25px 0px 0px 0px;
}

.lds-circle {
	text-align: center;
	display: inline-block;
	transform: translateZ(1px);
	z-index: 1;
	position: relative;
	top: 45%;
	left: 47%;
	transition: opacity 2s;
	vertical-align: middle;
}

.lds-circle.hidden {
	opacity: 0;
}

.lds-circle > div {
	display: inline-block;
	line-height: 128px;
	width: 72px;
	height: 120px;
	margin: 8px;
	border-radius: 100% 100% 0 0;
	background: linear-gradient(to bottom, rgba(27,44,74,1), rgba(67,147,136,1));
	animation: lds-circle 4.8s cubic-bezier(0, .4, 1, 1) infinite;
}

@keyframes lds-circle {
	0%, 100% {
		animation-timing-function: cubic-bezier(0.5, 0, 1, 0.5);
	}
	0% {
		transform: rotateY(0deg);
	}
	50% {
		transform: rotateY(1800deg);
		animation-timing-function: cubic-bezier(0, 0.5, 0.5, 1);
	}
	100% {
		transform: rotateY(3600deg);
	}
}

@media only screen and (max-width: 1400px){
	body{
		margin: 30px 50px 120px 50px;
	}
	h1{
		font-size: 60px;
		line-height: 70px;
	}

	h2{
		margin-top: 60px;
		font-size: 24px;
	}

	h3{
		font-size: 20px;
		line-height: 30px;
	}

	p{
		font-size: 16px;
		line-height: 26px;
	}

	.logo{
		width: 60px;
	}

	nav{
		width: 50%;
	}

	a{
		font-size: 18px;
	}
}

@media only screen and (max-width: 800px) {
	body{
		margin: 20px 40px 80px 40px;
	}

	h1{
		font-size: 40px;
		line-height: 70px;
	}

	h2{
		margin-top: 30px;
		font-size: 24px;
	}

	h3{
		font-size: 16px;
		line-height: 30px;
	}

	p{
		font-size: 14px;
		line-height: 26px;
	}

	.logo{
		width: 50px;
	}

	nav{
		width: 80%;
	}

	a{
		font-size: 16px;
	}
}
