@import 'desktop.css';

body{
	margin: 30px 50px 120px 50px;
	background-color: red;
}
h1{
	font-size: 60px;
	line-height: 70px;
}

h2{
	margin-top: 60px;
	font-size: 24px;
}

h3{
	font-size: 20px;
	line-height: 30px;
}

p{
	font-size: 16px;
	line-height: 26px;
}

.logo{
	width: 60px;
}

nav{
	width: 50%;
}

a{
	font-size: 16px;
}

.flowerLogo{
	height: 60px;
	width: 40px;
}

.letterLogo{
	height: 55px;
	width: 55px;
}

h4{
	font-size: 18px;
}

h5{
	font-size: 16px;
}

.company{
	margin-top: 20px;
}

.info{
	margin: 10px 0px 0px 0px;
}

.category {
    width: 20%;
}

.arrow, .arrowUp{
    width: 20px;
    height: 20px;
}

.flowerDetails {
    top: 27%;
    left: 15%;
    width: 70%;
    height: 46%;
}

.flowerRecieved img {
    width: 40px;
}

.flowerDetails h1 {
    font-size: 30px;
}

.flowerNumIterator p {
    font-size: 30px;
}

img.closeImage {
	width: 20px;
}

.commentDetails {
    top: 15%;
    left: 15%;
    width: 70%;
    height: 70%;
}

.commentDetails h1 {
	font-size: 30px;
}

textarea {
    width: 92%;
}

.commentDetails button {
    margin: 10px;
}